<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
        <header>
            <h1>{{headingInfo}}</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products Page</a></li>
                    <li><a href="/registration">Customer Registration</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
         </header>
        <main>
            <section>
                {{{body}}}
            </section>
        </main>
        <footer>
        
                <div>
                    <span>Get to Know US</span>
                    <P><a href=" ">Careers</a></P>
                    <p><a href="">Investor Relations</a></p>
                    <p><a href=" ">Press releases</a></p>                
                </div>
                <div>
                    <span>Make Money with Us</span>
                    <p><a href=" ">Sell on Amazon</a></p>
                    <p><a href="">Sell on Amazon Handmade</a></p>
                </div>
                <div>
                    <span>Addresses</span>
                    <p>Toronto</p>
                    <p>Vancouver</p>
                    <p>Montreal</p>
                </div>
            
        </footer>     
</body>
</html>