<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Barlow|Open+Sans|Roboto&display=swap');
    </style>
    <title>{{title}}</title>
</head>
<body>
        <header>
            <h1>{{headingInfo}}</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products/list">Products</a></li>
                    <li><a href="/user/registration">Sign up</a></li>
                    <li><a href="/user/login">Login</a></li>
                </ul>
            </nav>
         </header>
        <main>
            {{{body}}}
        </main>
        <footer>
        
                <div>
                    <span>Get to Know Us</span>
                    <P><a href=" ">Careers</a></P>
                    <p><a href="">Investor Relations</a></p>
                    <p><a href=" ">Press releases</a></p>                
                </div>
                <div>
                    <span>Make Money with Us</span>
                    <p><a href=" ">Sell on buyPal</a></p>
                    <p><a href="">Sell on buyPal Handmade</a></p>
                </div>
                <div>
                    <span>Addresses</span>
                    <p>315 Queen St E, Toronto, ON</p>
                    <p>800 Griffiths Way, Vancouver, BC</p>
                    <p>333 Rue de la Commune, Montréal, QC</p>
                </div>
                <div>
                    <span>Follow Us</span>
                    <p><a href=" ">Facebook</a></p>
                    <p><a href=" ">Instagram</a></p>
                    <p><a href=" ">Twitter</a></p>
                </div>
            
        </footer>     
</body>
</html>