<section>
    <div class="promotion">
        <span>Promotions</span>
        <div class="promotion-pro">
            {{#each promotion}}
            <div class="pro">
                <img src="{{this.img}}" alt="" width="200px" height="200px">
            <p>Ckeck Now!</p>
            </div>
            
            {{/each}}
        </div>
        {{!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a> --}}
    </div>

    <div class="categories">
        {{#each category}}
            <div class="category">
                <div class="des">
                    {{this.description}}
                </div>
                <div>
                    <img src="{{this.img}}" alt="" width="200px" height="200px">
                    
                </div>  
                <div>See more</div>  
            </div>
        {{/each}}
    </div>

    <div class="bestSeller">
        <div>Best Sellers <span>See more</span></div>
        <div class="bsSeller">
            {{#each bsProduct}}
                <div>
                    <img src="{{this.img}}" alt="" width="200px" height="200px">
                </div>
            {{/each}}
        </div>

    </div>
</section>