<div class="register-form">
    <form class="register" method="POST" action ="/registration">
        <legend>Create account</legend>
        <label for="userName">Your Name</label> <br>  
        <input type="text" id="userName" name="userName"> <br>

        <label for="email">Email</label>  <br>  
        <input type="email" id="email" name="email"> <br>

        <label for="password">Password</label>    <br>
        <input type="text" id="password" name="password"> <br> 
        <p>Password must consist of at least 6 characters</p>

        <label for="passwordAgain">Password Again</label>   <br> 
        <input type="text" id="passwordAgain" name="passwordAgain"> <br>  <br>

        <input type="submit" value="Create your Amazon account">
        <div>
            By creating an account, you agree to Amazon's <br>
            <a href="">Conditions of Use</a> and <a href="">Privacy Notice.</a>
        </div>
    </form>
</div>
    <div id="reg-log">
        Already have an acoount? <a href="/login">Sign in</a>
    </div>
    