<div class="register-form">

    {{#each errorMsg}}
        <div class="errors">
            {{this}}
        </div>
    {{/each}}

    <form class="register" method="POST" action ="/registration">
        <legend>Create account</legend>
        <label for="userName">Your Name</label>  
        <input type="text" id="userName" name="userName" value={{user_userName}}> 

        <label for="email">Email</label>   
        <input type="email" id="email" name="email" value={{user_email}}> 

        <label for="password">Password</label>    
        <input type="text" id="password" name="password" value={{user_password}}> 
        <p>Password must consist of at least 6 characters</p>

        <label for="passwordAgain">Password Again</label>   
        <input type="text" id="passwordAgain" name="passwordAgain"> 

        <input type="submit" value="Create your Amazon account">
        <div>
            By creating an account, you agree to Amazon's <br>
            <a href="">Conditions of Use</a> and <a href="">Privacy Notice.</a>
        </div>
    </form>
    <div id="reg-log">
        Already have an acoount? <a href="/login">Sign in</a>
    </div>
    
</div>