* {
    padding: 0;
    margin: 0;
}
html{
    overflow-x: hidden;
}
body{
    display: grid;
}
header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex-direction: row;
    width: 100%;
    height: 130px; 
    background-color: rgb(5, 8, 35);
}
h1{
    padding-top: 20px;
    padding-left: 30px;
    font-size: 4em;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}
nav > ul{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding-top: 20px;
    padding-left: 300px;
    font-size: 1.5em;
    font-family: 'Barlow', sans-serif;
}
nav > ul > li {
    text-decoration: none;
    padding-top: 30px;
    list-style: none;
}
nav > ul > li > a{
    text-decoration: none;
    color: whitesmoke;
}
section{
    display: grid;
    grid-template-columns: auto;
}
main{
    display: grid;
}
.promotion-pro > img{ 
    height: 600px;
    width: 100%; 
    box-shadow: 15px 10px 10px gray; 
} 
.categories{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 40%);
    grid-column-gap: 4em;
    margin-top: 30px; 
}
.category{
    display: grid;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    margin-top: 20px;
    margin-bottom: 20px;
}
.category div{
    margin: 10px;
}
.category > div > a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: rgb(47, 108, 165);
    font-size: 1.1em;
}
.category > div > a:hover{
    font-weight: bold;
}
.category .des{
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
}
.bestSeller{
    background-color:rgb(247, 247, 247);
    height: 300px; 
    padding-left: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.bestSeller > p{
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}
.bestSeller > p > span > a{
    font-size: .9em;
    text-decoration: none;
    margin-left: 40px;
    color: rgb(47, 108, 165);
}
.bestSeller > p > span > a:hover{
    cursor: pointer;
    font-weight: bold;
}
.bsSeller{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 1fr);
    height: 200px;
} 
.bsSeller div{
    margin-top: 10px;
}
footer{
    padding-top: 50px;
    padding-left: 150px;
    background-color: #020a3a;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 200px;
    color: whitesmoke;
} 
footer > div > span{
    font-size: 1.2em;
    font-family: 'Barlow', sans-serif;
}
footer > div > p{
    margin-top: 10px;
    font-family: 'Barlow', sans-serif;
}
footer > div > p > a{
    color: white;
    text-decoration: none;   
}
.products{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.product-nav{
    display: grid;
    justify-content: center;
    margin-top: 60px;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5em;
}
.productList{
    font-family: 'Barlow', sans-serif;
    font-size: .8em;
}
#searchbtn{
    font-size: .8em;
    width: 80px;
}
.pro-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    grid-gap: 15px;
    padding: 30px;
}
.pro-products #productTitle{
    font-weight: bold;
}
#bsCon{
    color: rgb(212, 10, 10);
}
.addCart a{
    text-decoration: none;
    color:  rgb(47, 108, 165);
} 
.addCart a:hover{
    font-weight: bold;
}
.register-form{
    display: grid;
    justify-content: center;
    background-image: url(/img/reg_log.jpg);
    background-size: cover; 
    font-family: 'Open Sans', sans-serif;   
}
.invalid{
    border: 1px solid red;
}
.register{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    background-color: #ffffffab;
    border: 1px solid grey;
    margin-bottom: 15px;
    margin-top: 30px;
    padding-top: 20px;
    width: 700px;
    box-shadow: 15px 10px 10px gray;     
}
.register div{
    margin: 10px 0px 18px 13px;
} 
.register > div > a{
    text-decoration: none;
    color: rgb(68, 141, 210);
}
#reg-log{
    margin: 10px 0 30px 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 600px;
    border-top: 1px solid black;
    
}
#reg-log > a{
    text-decoration: none;
    color: rgb(68, 141, 210);
}
.register legend{
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 2em;
}
.register label{
    padding: 10px; 
}
.register input{
    margin-left: 10px;
    
    padding: 10px;
}
.register p{
    padding-left: 10px;
    font-size: .8em;
}
#submitbtn{
    width: 620px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.login-form{
    display: grid;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-image: url(/img/reg_log.jpg);
    background-size: cover; 
}
.login{
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    background-color: #ffffffab;
    border: 1px solid grey;
    width: 600px;
    margin-top: 60px;
    padding-top: 15px;
    box-shadow: 15px 10px 10px gray;        
}
.login label{
    padding: 10px; 
}
.login input{
    margin-left: 10px;
    margin-bottom: 10px;
    
    padding: 10px;
}
.login legend{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 2em;
}
.login p {
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: .8em;
}
.login div{
    margin: 20px 0px 20px 20px;
}
.login > div > a{
    text-decoration: none;
    color: rgb(68, 141, 210);
}
#loginbtn{
    width: 500px;
}
#log-reg{
    margin: 20px 0 20px 50px;
    border-top: 1px solid black;
    width: 500px;
    text-align: center;
    padding-top: 10px;      
}
#log-reg > a{
    text-decoration: none;
    color: rgb(68, 141, 210);
}
.error{
    color: red;
}
.dashboard{
    display: grid;
    margin: 210px 100px 300px 280px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
}
.dashboard div{
    margin: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.dashboard > div > a{
    text-decoration: none;
    color: rgb(68, 141, 210);
}
.dashboard > div > a{
    cursor: pointer;
}
#dashboardHeading{
    font-size: 2.2em;
    margin-bottom: 40px;
}
#dashboardMsg{
    font-size: 1.25em;
}
.oneProduct{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 2em;
}
.oneProduct img{
    margin: 20px;
}
.productTitle{
    font-weight: bold;
    margin: 10px;
}
.oneProductInfo{
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
}
.oneProductInfo > div {
    margin: 10px;
}
.oneProductInfo > label {
    margin: 10px;
}
.oneProductInfo > select{
    width: 50px;
    height: 25px;
}
.cartButton a{
    background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #07c;
    font-size: 16px;
    padding: 5px 40px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}
.userShppoingCart{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    display: grid;
    grid-template-rows: .5fr 5fr 1fr;
    grid-row-gap: 1em;
    margin: 20px;
}
#productSum{
    display: grid;
    grid-template-columns: auto auto;
}
.cartProductsInfo{
    display: grid;
    grid-row-gap: 1em;
}
.cartproductsPrice{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
}
.cartProduct{
    display: grid;
    grid-template-columns: .2fr .4fr .3fr;
}
.editProducts{
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
#addProducts{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    margin-bottom: 20px; 
    margin-left: 10px; 
}
.addproduct{
    display: grid;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.addProductForm{
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    background-color: #ffffffab;
    border: 1px solid grey;
    width: 300px;
}
.editProductForm{
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    background-color: #ffffffab;
    border: 1px solid grey;
    width: 200px;
}
.button{
    width: 120px;
    height: 30px;
    background-color: #020a3a;
    color: white;
    border: none;
}
@media (max-width: 1199.98px) {
    h1{
        padding-top: 40px;
        padding-left: 50px;
        font-size: 3em;
    }
    nav > ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 150px;
    }
    .categories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2em;
       
    }
    .bestSeller{
        height: 730px;
        padding-left: 100px;
    }    
    .bsSeller{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: repeat(2, 0.5fr);
        height: 350px;
        padding-left: 100px;
    }
    .pro-products{
        grid-template-columns: repeat(2, 1fr);
    }
    .product-nav{
        margin-left: 20px;
    }
    .register{
        margin-left: 10px;
        width: 700px;
    }
    .register input{
        width: 620px;
        padding: 15px;
    }
    #reg-log{
        width: 600px;
        margin: 20px 0 30px 65px;
        padding-left: 0;
    }
    .login{
        margin-top: 60px;
        margin-left: 10px;
        width: 600px;
    }
    .login input{
        width: 500px;
        padding: 15px;
    }
    #log-reg{
        width: 500px;
        margin: 20px 0 20px 65px;
        padding-left: 0;
    }
    .dashboard{
        margin: 100px 30px 100px 150px;
        font-size: 1em;
    }
    #dashboardHeading{
        margin-bottom: 5px;
    }
    .dashboard div{
        padding-left: 12px;
        margin-left: 0;
        margin-bottom: 5px;
    }
  
}
@media (max-width: 991.98px){
    header{
        width: 100%;
        height: 200px; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    h1{
        padding-top: 60px;
        font-size: 3em;
    }
    nav > ul{
        display: grid;
        grid-template-columns: repeat(2, 0.45fr);
        padding-left: 25px;
        width: auto;
    }
    .categories{
        grid-template-columns: 1fr; 
    }
    .category > div > img{
        width: 500px;
        height: 500px;
    }
    .bestSeller{
        height: 730px;
        padding-left: 25px;
    }    
    .bsSeller{
        grid-template-columns: auto auto;
        grid-column-gap: 4em;
    }
    footer{
        grid-template-columns: repeat(2, 0.5fr);
        height: 350px;
        padding-left: 100px;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 20px;
    }
    .product-nav{
        justify-content: left;
        margin-left: 40px;
        margin-bottom: 30px;
    }
    .productList > option{
        font-size: .5em;
    }
    .pro-products{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .register-form{
        padding-left: 0px;
    }
    .register{
        margin-left: 10px;
    }
    .register input{
        width: 580px;
    }
   
    .login-form{
        padding-left: 0px;
        padding-bottom: 80px;
    }
    .login{
        margin-top: 80px;
        margin-left: 10px;
    }
    .login input{
        width: 470px;
    }
    .dashboard{
        margin: 150px 30px 280px 50px;
    }
    .dashboard div{
        padding-left: 0px;
        margin: 15px;
    }
    #dashboardHeading{
        font-size: 1.8em;
        margin-bottom: 20px;
    }
    .userShppoingCart {
        
        margin: 30px 0px 60px 20px;
    }
    .cartProduct{
        grid-template-columns: auto auto auto;
        grid-column-gap: .5em;
    }
   .cartOrderImg > img{
        width: 100px;
        height: 100px;
   }
   .cartproductsPrice{
        grid-template-columns: auto;
        grid-row-gap: 1em;
        margin-top: 0;
   }
   .oneProduct{
        grid-template-columns: auto;
        margin-top: 40px;
        margin-bottom: 140px;
   }
   .oneProductImg > img{
       width: 250px;
       height: 250px;
   }
   .oneProductInfo{
       margin-top: 0;
       margin-bottom: 20px;
   }
   #addProducts{
        margin-left: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media (max-width: 770px) {
    header{
        width: 100%;
        height: 150px; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    h1{
        padding-top: 40px;
        font-size: 3em;
    }
    nav > ul{
        display: grid;
        grid-template-columns: repeat(2, 0.45fr);
        padding-left: 25px;
        padding-top: 0;
        width: auto;
    }
    .categories{
        grid-template-columns: 1fr; 
    }
    .category > div > img{
        width: 550px;
        height: 550px;
    }
    .bestSeller{
        height: 730px;
        padding-left: 25px;
    }    
    .bsSeller{
        grid-template-columns: auto auto;
        grid-column-gap: 4em;
    }
    footer{
        grid-template-columns: repeat(2, 0.5fr);
        height: 350px;
        padding-left: 100px;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 20px;
    }
    .product-nav{
        justify-content: left;
        margin-left: 40px;
        margin-bottom: 30px;
    }
    .productList > option{
        font-size: .5em;
    }
    .pro-products{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .register-form{
        padding-left: 0px;
    }
    .register{
        margin-left: 10px;
    }
    .register input{
        width: 580px;
    }
    .login-form{
        padding-left: 0px;
    }
    .login{
        margin-top: 60px;
        margin-left: 10px;
    }
    .login input{
        width: 470px;
    }
    .dashboard{
        margin: 100px 30px 130px 50px;
    }
    .dashboard div{
        padding-left: 0px;
    }
    #dashboardHeading{
        font-size: 1.8em;
        margin-bottom: 0px;
    }
    .userShppoingCart {
        margin: 5px;
    }
    .cartProduct{
        grid-template-columns: auto auto auto;
        grid-column-gap: .5em;
    }
   .cartOrderImg > img{
        width: 100px;
        height: 100px;
   }
   .cartproductsPrice{
        grid-template-columns: auto;
        grid-row-gap: 1em;
        margin-top: 0;
   }
   .oneProduct{
        grid-template-columns: auto;
   }
   .oneProductImg > img{
       width: 250px;
       height: 250px;
   }
   .oneProductInfo{
       margin-top: 0;
       margin-bottom: 20px;
   }  
} 
@media (max-width: 575.98px){
    header{
        width: 100%;
        height: 130px; 
        display: grid;
        grid-template-columns: .15fr fr;
    }
    h1{
        padding-top: 40px;
        padding-left: 15px;
        font-size: 2.5em;
    }
    nav > ul{
        display: grid;
        grid-template-columns: .5fr .5fr;
        padding-left: 25px;
        padding-top: 0;
        font-size: 1em;
        width: auto;
    }
    .categories{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 0;
    }
    .category > div > img {
        width: 300px;
        height: 300px;
    }
    .bestSeller{
        height: 1200px;
        
    } 
    .bestSeller > p{
        margin-left: 0;
    }  
    .bsSeller{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 0;
    }
    footer{
        grid-template-columns: repeat(2, 1fr);
        height: 380px;
        padding-left: 40px;
        margin-top: 40px;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 20px;
    }
    .product-nav{
        margin-left: 0;
        margin-bottom: 40px;
    }
    .productList > option{
        font-size: .4em;
    }
    .pro-products{
        display: grid;
        grid-template-columns: auto;
        padding: 0;
      
    }
    .register-form{
        background-image: none;
        padding-left: 0;
    }
    .register{
        margin-left: 0;
        width: 300px;
        box-shadow: none;
    }
    .register > input{
        width: 240px;
        margin-left: 15px;
    }
    #submitbtn {
        width: 220px;
    }
    #reg-log{
        width: 220px;
        margin: 0 0 20px 45px;
        margin-top: 0;
        padding-left: 0;
    }
    .login-form{
        background-image: none;
        padding-left: 0;
    }
    .login{
        margin: 60px 0px 20px 10px;
        width: 280px;
        box-shadow: none;
    }
    .login input {
        width: 220px;
    }
    #loginbtn {
        width: 220px;
    }
    #log-reg{
        width: 220px;
        margin: 0 0 20px 45px;
        padding-left: 0;
    }
    #dashboardHeading{
        font-size: 1.8em;
        margin-bottom: 0px;
    }
    .dashboard{
        margin: 10px 0px 0 20px;
    }
    .userShppoingCart {
        margin: 5px;
    }
    .cartProduct{
        grid-template-columns: auto auto auto;
        grid-column-gap: .5em;
    }
   .cartOrderImg > img{
        width: 100px;
        height: 100px;
   }
   .cartproductsPrice{
        grid-template-columns: auto;
        grid-row-gap: 1em;
        margin-top: 0;
   }
   .oneProduct{
        grid-template-columns: auto;
   }
   .oneProductImg > img{
       width: 250px;
       height: 250px;
   }
   .oneProductInfo{
       margin-top: 0;
   }
} 
