* {
    padding: 0;
    margin: 0;
}
html{
    overflow-x: hidden;
}
body{
    display: grid;
}
header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex-direction: row;
    width: 100%;
    height: 130px; 
    background-color: rgb(5, 8, 35);
}
h1{
    padding-top: 20px;
    padding-left: 30px;
    font-size: 4em;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}
nav > ul{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding-top: 20px;
    padding-left: 300px;
    font-size: 1.5em;
    font-family: 'Barlow', sans-serif;
}
nav > ul > li {
    text-decoration: none;
    padding-top: 30px;
    list-style: none;
}
nav > ul > li > a{
    text-decoration: none;
    color: whitesmoke;
}
section{
    display: grid;
    grid-template-columns: auto;
}
main{
    display: grid;
}
.promotion-pro > img{ 
    height: 600px;
    width: 100%; 
    box-shadow: 15px 10px 10px gray; 
} 
.categories{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-column-gap: 4em;
    margin-top: 30px; 
    padding-left: 180px;
}
.category{
    display: grid;
    background-color: rgb(247, 247, 247);
    margin-top: 20px;
    margin-bottom: 20px;
}
.category div{
    margin: 10px;
    padding-left: 40px;
}
.category > div > a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: rgb(47, 108, 165);
    font-size: 1.1em;
}
.category > div > a:hover{
    font-weight: bold;
}
.category .des{
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
}
.bestSeller{
    background-color:rgb(247, 247, 247);
    height: 300px; 
    padding-left: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.bestSeller > p{
    padding-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}
.bestSeller > p > span > a{
    font-size: .9em;
    text-decoration: none;
    margin-left: 40px;
    color: rgb(47, 108, 165);
}
.bestSeller > p > span > a:hover{
    cursor: pointer;
    font-weight: bold;
}
.bsSeller{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 200px;
    padding-left: 40px;
} 
.bsSeller div{
    margin-top: 10px;
}
footer{
    padding-top: 50px;
    padding-left: 150px;
    background-color: #020a3a;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 200px;
    color: whitesmoke;
} 
footer > div > span{
    font-size: 1.2em;
    font-family: 'Barlow', sans-serif;
}
footer > div > p{
    margin-top: 10px;
    font-family: 'Barlow', sans-serif;
}
footer > div > p > a{
    color: white;
    text-decoration: none;   
}
.products{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.product-nav{
    margin-top: 30px;
    margin-left: 5px;
    font-family: 'Barlow', sans-serif;
}
.product-nav > p{
    font-size: 1.2em;
    padding-left: 15px;
}
.product-nav > nav > div{
    margin-top: 5px;
    margin-left: 30px;
}
.product-nav > nav > div > p {
    padding: 5px;
    
}
.product-nav > nav > div > p > a{
    text-decoration: none;
    color: black;
}
.product-nav > nav > div > p > a:hover{
    cursor: pointer;
    font-weight: bold;
}
.pro-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Open Sans', sans-serif;
    grid-gap: 15px;
    padding: 30px;
}
.pro-products #productTitle{
    font-weight: bold;
}
#bsCon{
    color: rgb(212, 10, 10);
}
.addCart a{
    text-decoration: none;
    color:  rgb(47, 108, 165);
} 
.addCart a:hover{
    font-weight: bold;
}
.register-form{
    background-image: url(/img/reg_log.jpg);
    background-size: cover; 
    font-family: 'Open Sans', sans-serif;   
    padding-left: 340px;
}
.invalid{
    border: 1px solid red;
}
.register{
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 15px;
    background-color: #ffffffab;
    border: 1px solid grey;
    width: 700px;
    margin-top: 30px;
    margin-left: 10px;
    padding-top: 20px;
    padding-left: 15px;
    box-shadow: 15px 10px 10px gray; 
    margin-left: 10px;
        
}
.register div{
    margin: 10px 0px 18px 13px;
} 
.register > div > a{
    text-decoration: none;
    color: rgb(68, 141, 210);
}
#reg-log{
    margin: 20px 0 30px 65px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 600px;
    border-top: 1px solid black;
    
}
#reg-log > a{
    text-decoration: none;
    color: rgb(68, 141, 210);
}
.register legend{
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 2em;
}
.register label{
    padding: 10px; 
}
.register input{
    margin-left: 10px;
    width: 620px;
    padding: 10px;
}
.register p{
    padding-left: 10px;
    font-size: .8em;
}
#submitbtn{
    margin-top: 30px;
    margin-bottom: 15px;
}
.login-form{
    font-family: 'Open Sans', sans-serif;
    background-image: url(/img/reg_log.jpg);
    background-size: cover; 
    padding-left: 400px;
}
.login{
    display: grid;
    grid-template-columns: auto;
    background-color: #ffffffab;
    border: 1px solid grey;
    width: 600px;
    margin-top: 60px;
    margin-left: 10px;
    padding-top: 15px;
    padding-left: 15px;
    box-shadow: 15px 10px 10px gray;        
}
.login label{
    padding: 10px; 
}
.login input{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 500px;
    padding: 10px;
}
.login legend{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 2em;
}
.login p {
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: .8em;
}
.login div{
    margin: 20px 0px 20px 20px;
}
.login > div > a{
    text-decoration: none;
    color: rgb(68, 141, 210);
}
#log-reg{
    margin: 20px 0 20px 65px;
    border-top: 1px solid black;
    width: 500px;
    text-align: center;
    padding-top: 10px;  
    
}
#log-reg > a{
    text-decoration: none;
    color: rgb(68, 141, 210);
}
.error{
    color: red;
}
.dashboard{
    display: grid;
    margin: 210px 100px 300px 280px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
}
.dashboard div{
    margin: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.dashboard > div > a{
    text-decoration: none;
    color: rgb(68, 141, 210);
}
.dashboard > div > a{
    cursor: pointer;

}
#dashboardHeading{
    font-size: 2.2em;
    margin-bottom: 40px;
}
#dashboardMsg{
    font-size: 1.25em;
}

@media only screen and (max-width: 1300px) {
    h1{
        padding-top: 40px;
        padding-left: 50px;
        font-size: 3em;
    }
    nav > ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 150px;
    }
    .categories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 100px; 
       
    }
    .bestSeller{
        height: 730px;
        padding-left: 100px;
    }    
    .bsSeller{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: repeat(2, 0.5fr);
        height: 350px;
        padding-left: 100px;
    }
    .register-form{
        padding-left: 140px;
    }
    .register{
        margin-left: 10px;
        width: 700px;
    }
    .register input{
        width: 620px;
        padding: 15px;
    }
    #reg-log{
        width: 600px;
        margin: 20px 0 30px 65px;
        padding-left: 0;
    }
    .login-form{
        
        padding-left: 200px;
    }
    .login{
        margin-top: 60px;
        margin-left: 10px;
        width: 600px;
    }
    .login input{
        width: 500px;
        padding: 15px;
    }
    #log-reg{
        width: 500px;
        margin: 20px 0 20px 65px;
        padding-left: 0;
    }
    .dashboard{
        margin: 100px 30px 100px 150px;
        font-size: 1em;
    }
    #dashboardHeading{
        margin-bottom: 5px;
    }
    .dashboard div{
        padding-left: 12px;
        margin-left: 0;
        margin-bottom: 5px;
    }
  
}
@media only screen and (max-width: 770px) {
    header{
        width: 100%;
        height: 150px; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    h1{
        padding-top: 40px;
        font-size: 3em;
    }
    nav > ul{
        display: grid;
        grid-template-columns: repeat(2, 0.45fr);
        padding-left: 25px;
        padding-top: 0;
        width: auto;
    }
    .categories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 30px; 
       
    }
    .bestSeller{
        height: 730px;
        padding-left: 25px;
    }    
    .bsSeller{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: repeat(2, 0.5fr);
        height: 350px;
        padding-left: 100px;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-left: 20px;
    }
    .pro-products{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .register-form{
        padding-left: 120px;
    }
    .register{
        margin-left: 10px;
        width: 500px;
    }
    .register input{
        width: 440px;
    }
    #reg-log{
        width: 400px;
        margin: 20px 0 30px 65px;
        padding-left: 0;
    }
    .login-form{
        padding-left: 160px;
    }
    .login{
        margin-top: 60px;
        margin-left: 10px;
        width: 430px;
    }
    .login input{
        width: 350px;
    }
    #log-reg{
        width: 400px;
        margin: 20px 0 30px 35px;
        padding-left: 0;
    
    }
    .dashboard{
        margin: 100px 30px 100px 50px;
    }
    .dashboard div{
        padding-left: 0px;
    }
  
}
@media only screen and (max-width: 425px){
    header{
        width: 100%;
        height: 130px; 
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    h1{
        padding-top: 40px;
        padding-left: 15px;
        font-size: 2.5em;
    }
    nav > ul{
        display: grid;
        grid-template-columns: .5fr .5fr;
        padding-left: 25px;
        padding-top: 0;
        font-size: 1em;
        width: auto;
    }
    .categories{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 50px;
    }
    .bestSeller{
        height: 1200px; 
        padding-left: 80px;
    } 
    .bestSeller > p{
        margin-left: 0;
    }  
    .bsSeller{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 0;
    }
    footer{
        grid-template-columns: repeat(2, 1fr);
        height: 380px;
        padding-left: 50px;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 50px;
    }
    .product-nav{
        margin-left: 0;
    }
    .pro-products{
        display: grid;
        grid-template-columns: auto;
        padding:  30px 0px 30px 50px;
    }
    .register-form{
        background-image: none;
        padding-left: 50px;
    }
    .register{
        margin-left: 10px;
        width: 280px;
    }
    .register input{
        width: 220px;
    }
    #reg-log{
        width: 260px;
        margin: 0 0 20px 25px;
        padding-left: 0;
    }
    .login-form{
        background-image: none;
        padding-left: 50px;
    }
    .login{
        margin: 60px 0px 20px 10px;
        width: 280px;
    }
    .login input{
        width: 220px;
    }
    #log-reg{
        width: 260px;
        margin: 0 0 20px 25px;
        padding-left: 0;
    }
}
@media only screen and (max-width: 375px){
    .categories{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 30px;
    }
    .bestSeller{
        height: 1200px; 
        padding-left: 60px;
    } 
    .register-form{
        background-image: none;
        padding-left: 30px;
    }
    .register{
        margin-left: 10px;
        width: 280px;
    }
    .register input{
        width: 220px;
    }
    #reg-log{
        width: 220px;
        margin: 0 0 20px 45px;
        padding-left: 0;
    }
    .login-form{
        background-image: none;
        padding-left: 30px;
    }
    .login{
        margin: 60px 0px 20px 10px;
        width: 280px;
    }
    .login input{
        width: 220px;
    }
    #log-reg{
        width: 220px;
        margin: 0 0 20px 45px;
        padding-left: 0;
    }
    .dashboard{
        margin: 100px 30px 100px 40px;
    }
    
}
@media only screen and (max-width: 320px) {
    header{
        width: 100%;
        height: 130px; 
        display: grid;
        grid-template-columns: .15fr 1fr;
    }
    h1{
        padding-top: 40px;
        padding-left: 15px;
        font-size: 2.5em;
    }
    nav > ul{
        display: grid;
        grid-template-columns: .5fr .5fr;
        padding-left: 25px;
        padding-top: 0;
        font-size: 1em;
        width: auto;
    }
    .categories{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 0;
    }
    .bestSeller{
        height: 1200px;
        padding-left: 30px;
    } 
    .bestSeller > p{
        margin-left: 0;
    }  
    .bsSeller{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 0;
    }
    footer{
        grid-template-columns: repeat(2, 1fr);
        height: 380px;
        padding-left: 50px;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 20px;
    }
    .product-nav{
        margin-left: 0;
    }
    .pro-products{
        display: grid;
        grid-template-columns: auto;
        padding:  30px 0px 30px 10px;
    }
    .register-form{
        background-image: none;
        padding-left: 0;
    }
    .register{
        margin-left: 10px;
        width: 280px;
    }
    .register input{
        width: 220px;
    }
    #reg-log{
        width: 220px;
        margin: 0 0 20px 45px;
        margin-top: 0;
        padding-left: 0;
    }
    .login-form{
        background-image: none;
        padding-left: 0;
    }
    .login{
        margin: 60px 0px 20px 10px;
        width: 280px;
    }
    .login input{
        width: 220px;
    }
    #log-reg{
        width: 220px;
        margin: 0 0 20px 45px;
        padding-left: 0;
    }
    #dashboardHeading{
        margin-bottom: 0px;
    }
   
}

/* @media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... } */