<section>
    <div class="dashboard">
        <p id="dashboardHeading">Welcome to your buyPal account!</p>
        <div id="dashboardMsg">You registered successfully, 
            a confirmation email sent to you.</div>
        <div><a href="/user/login">Login</a></div>
        <div>Go to <a href="/">Home</a> page</div>
        <div>Go to <a href="/products/list">Product</a> page</div>
    </div>
</section>