<section>
    <div class="dashboard">
        <p id="dashboardHeading">Welcome Administrator: {{user.firstName}} {{user.lastName}}</p>
        
        <div>Want to <a href="/products/add_product">Add a product</a></div>
        <div>Want to <a href="/products/edit_product">View all created products, 
            edit and change product details</a></div>

        <div>Go to <a href="/">Home</a> page</div>
        <div>Go to <a href="/products/list">Product</a> page</div>
        <div><a href="/user/logout">Logout</div>
    </div>
</section>