<section>
    <div class="dashboard">
        <p id="dashboardHeading">Welcome {{user.firstName}} {{user.lastName}}</p>
        

        <div>Go to <a href="/">Home</a> page</div>
        <div>Go to <a href="/products/list">Product</a> page</div>
        <div>Go to <a href="/products/user_Shopping_Cart/{{user._id}}">Shopping Cart</div>
        <div><a href="/user/logout">Logout</div>
    </div>
</section>