
<section>
    <div class="promotion">
        <div class="promotion-pro">
            {{#each promotion}}
            
                <img src="{{this.img}}" alt="">
            
            {{/each}}
        </div>

    </div>

    <div class="categories">
        {{#each category}}
            <div class="category">
                <div class="des">
                    {{this.description}}
                </div>
                <div>
                    <img src="{{this.img}}" alt="" width="400px" height="400px">
                    
                </div>  
                <div><a href=" ">See more</a></div>  
            </div>
        {{/each}}
    </div>

    <div class="bestSeller">
        <p>Best Sellers <span><a href=" ">See more</a></span></p>
        <div class="bsSeller">
            {{#each bsProduct}}
                <div>
                    <img src="{{this.img}}" alt="" width="250px" height="200px">
                </div>
            {{/each}}
        </div>

    </div>
</section>